<% include ./partials/header %>

<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <legend class="form-header">Login</legend>
    </div>
    <div class="form input-form col-7 col-md-4 col-lg-3">
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" id="username" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" type="password" name="password" placeholder="password">
                <p class="message"><a href="/forgot">Forgot your password?</a></p>
            </div>
            <button id="login-button" class="btn btn-lg btn-primary btn-block mx-auto">Login!</button>
            <p class="message text-muted">Don't have an account yet? Sign up here:  <a href="/register"> Sign Up</a></p>
        </form>
    </div>
</div>

<% include ./partials/footer %>