<% include ../partials/header %>

<div class="container">

    <header class="jumbotron main">
        <div class="container">
            <h1><i class="fab fa-free-code-camp"></i> Welcome To W3Camp</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg btn-hover-shadow"href="/campgrounds/new">Add New Campground</a>
            </p>
            <p>
                <form action="/campgrounds" method="GET" class="form-inline" id="campground-search">
                    <div class="form-group">
                        <input type="text" id="campground-search" name="search" placeholder="Campground search..." class="form-control">    
                    </div>
                </form>
            </p>
        </div>
    </header>
    
    <div class="row justify-content-center justify-content-lg-start d-flex text-center" id="campground-grid">
        <% campgrounds.forEach(function(campground){ %>
            <div class = "col-8 col-md-4 col-lg-3">
                <div class="card bg-light mb-4">
                    <img class="card-image-top img-resize img-responsive" src="<%= campground.image.url%>">
                    <div class="card-title mt-2">
                        <h5><%=campground.name %></h5>
                        <p class="card-text">Prices starting at $<%=campground.price%></p>
                    </div>
                    <p>
                        <a class="btn card-link btn-primary hvr-grow" href="/campgrounds/<%= campground._id %>">More info</a>
                    </p>
                </div>
            </div>
        <% }); %>  
    </div>
    
</div>

<% include ../partials/footer %>


<!--Note the ejs tags inside the quotes around the campgrounds.image -->