html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #EBEBEB;
}


    /*_________DYNAMIC BACKGROUND CLASSES AND GLASS_________*/
.login-bkg {
    background-image: url(../../images/backgrounds/login2.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
.register-bkg {
    background-image: url(../../images/backgrounds/register.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
.contact-bkg {
    background-image: url(../../images/backgrounds/contact.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
.newCampground-bkg {
    background-image: url(../../images/backgrounds/newCampground.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
.editCampground-bkg {
    background-image: url(../../images/backgrounds/editCampground.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
.newForumTopic-bkg {
    background-image: url(../../images/backgrounds/newForumTopic.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
.editForumTopic-bkg {
    background-image: url(../../images/backgrounds/editForumTopic.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
.frosted-glass2 {
    background: inherit;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 4px;
    background-size: 100% 100%;
}
.frosted-glass2::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    box-shadow: inset 0 0 0 3000px rgba(50, 50, 50,0.3);
    filter: blur(10px);
    margin: -20px;
}


    /*________ANIMATION STYLES________*/
.hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.hvr-fade {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098D1;
  color: white;
}


    /*________HEADER STYLES________*/
.navbar .navbar-brand{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.navbar .navbar-brand:hover{
    color: #C2CBC9;
}
.navbar-dark .navbar-nav .nav-link{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}
/*User profile image and name*/
.inset {
    float: left;
    margin-top: -5px;
    margin-right: 7px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.6), 
        0 1px 1px rgba(0,0,0,0.1);
    background-color: transparent !important;
    z-index: 999;
}
.inset img {
    object-fit: cover;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
    -mox-box-shadow: 0 0 2px white;
    -webkit-box-shadow: 0 0 2px white;
    box-shadow: 0 0 2px white;
}
.dropdown-menu {
    left: auto;
    background-color: #343A40;
}
.dropdown-item {
    color: #ffffff;
}
/*__________ALERT MESSAGES STYLES________*/
.alert {
    margin-top: 20px;
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.3);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.3);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.3);
}
.alert-sm {
    padding: 10px;
    font-size: 80%;
}
.alert-lg {
    padding: 35px;
    font-size: large;
}
.alert-success {
    border-color: #80D651;
}
.alert-success>strong {
    color: #80D651;
}
.alert-info {
    border-color: #45ABCD;
}
.alert-info>strong {
    color: #45ABCD;
}
.alert-warning {
    border-color: #FEAF20;
}
.alert-warning>strong {
    color: #FEAF20;
}
.alert-danger {
    border-color: #d73814;
}
.alert-danger>strong {
    color: #d73814;
}


    /*__________FOOTER STYLES________*/
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
}
.container .text-muted {
  margin: 20px 0;
}
@media only screen and (max-device-width: 640px) {
    footer {
        font-size: 9pt;       
    }
}


    /*________CAMPGROUNDS INDEX.EJS STYLES________*/
.jumbotron.main {
    margin: 25px 0;
    background-image: url(../images/wallhaven.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #E4E4E4;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0), 
        3px 5px 3px rgba(0, 0, 0, 0.1),
        6px 8px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0), 
        3px 5px 3px rgba(0, 0, 0, 0.1),
        6px 8px 6px rgba(0, 0, 0, 0.3);
}
#campfire-icon {
    font-size: 1.6em;
}
.fa-free-code-camp{
    font-size: 1.3em;
}
#campground-search{
    width: 210px;
    font-size: 11pt;
    font-family: 'FontAwesome', "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.btn-hover-shadow {
    border: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;    
}    
.btn-hover-shadow:hover, .btn-hover-shadow:focus, .btn-hover-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.img-resize {
    height: 175px !important;
    object-fit: cover;
}


    /*________CAMPGROUNDS SHOW.EJS STYLES________*/
.table-info {
    font-family: 'Josefin Sans', sans-serif;
}
#bookInfo {
    color: #4F4F54;   
    font-size: 12pt;
}
.table-body>tr>td {
    background-color: #B8BDC0;
}
.table-body>tr>td:hover {
    background-color: #C5C8CB;
}
.table-body>tr>td>a {
    color: #4F4F54;
    font-size: 15pt;
}
.table-head {
    font-size: 20pt;
    background-color: #697179;
    color: #ffffff;
}
.table-body>tr {
    cursor: pointer;
}
.campground-show-image {
    object-fit: cover;
    border-radius: 3px;
    width: 100%;
}
.delete-form {
    display: inline;
}
.comment-new-form {
    border-left: 5px solid #00C851;
    margin-top: 15px;
}
.button-form-spacing {
    margin-top: 15px;
}
.no-comments-text {
    color: grey;
}
.comment-isCurrentUserIcon{
    color: orange;
}
.edit-comment-form {
    border-left: 5px solid #ffbb33; 
    margin-top: 15px;
}
.delete-comment-form {
    display: inline;
}
#comments-card{
    margin-left: 6px;
}
/*Google maps API*/
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 .5em 1em rgba(0,0,0,.3);
}
/*Weather widget API*/
.weather-lightcolor{
    color: #ffffff;
}
.weather-widget{
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 0px 2px 1px rgba(150, 150, 150, 0.85);
    border-radius: 4px;
    background-size: 100% 100%;
    box-shadow: 0 .5em 1em rgba(0,0,0,.3);    
}
.place-weather{
    font-size: 18pt;
    font-weight: 600;
}
.date-weather{
    font-size: 9pt;
    margin-top: 12px;
}
.degrees-weather{
    font-size: 33pt;
    margin-top: 0px;
    padding-top: 15px;
    padding-right: 20px;
}
.symbol-weather{
    font-size: 56pt;
    padding-left: 20px;
}
.descr-weather{
    font-size: 11pt;
}
.weather-details{
    font-size: 15pt;
}
.week-weather {
    color: #4D4D4D;
    font-size: 13pt;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
#weather-table{
    text-shadow: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 0px;
    background: rgba(237,237,237,1);
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(230,230,230,1) 40%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(40%, rgba(230,230,230,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(230,230,230,1) 40%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(230,230,230,1) 40%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(230,230,230,1) 40%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(230,230,230,1) 40%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}
.frosted-glass {
    background: inherit;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
}
.frosted-glass::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    box-shadow: inset 0 0 3000px rgba(255,255,255,.5);
    filter: blur(3px);
    margin: -20px;
}


    /*________FORMS STYLING________*/
.general-style-form {
    color: #ffffff; 
    font-family: 'Josefin Sans', sans-serif;
}
.general-style-form a {
    color: #01A0BA;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.general-style-form .col .form-group>a {
    color: #ffffff;
}
.general-style-form button {
    background-color: #01A0BA;
    border: none;
} 
.general-style-form button:hover {
    background-color: #01A0BA;
}
#contact-form {
    color: #ffffff; 
    font-family: 'Josefin Sans', sans-serif;
}
#contact-form a {
    color: #ffffff;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
#contact-form a:hover {
    color: #01A0BA;
    font-size: 1.05em;
    text-decoration: none;
}
#contact-form button {
    background-color: #01A0BA;
    border: none;
}
#register-form {
    color: #ffffff; 
    font-family: 'Josefin Sans', sans-serif;
}
#register-form a {
    color: #ffffff;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
#register-form a:hover{
    color: #01A0BA;
    font-size: 1.05em;
    text-decoration: none;
}
#register-form button {
    background-color: #01A0BA;
    border: none;
}
.login-form-avatar {
    display: block;
    width: 10.5em;
    height: 10.5em;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;    
}
.login-form-avatar img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
}
#login-form{
   color: #ffffff; 
   font-family: 'Josefin Sans', sans-serif;
}
#login-form input{
    font-family: Arial, FontAwesome;
}
#login-form a{
    color: #ffffff;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
#login-form a:hover{
    color: #01A0BA;
    font-size: 1.05em;
    text-decoration: none;
}
#login-form button {
    background-color: #01A0BA;
    border: none;
}
.form-header {
    font-family: 'Nunito';
    font-size: 34px;
    margin: 15px auto;
    text-align: center;
    width: 25%;
    border-bottom: 1px solid #e5e5e5;
}
.form .form-control {
    background: #f2f2f2;
}
.form .message {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}
.form label {
    font-family: 'Nunito';
}
.form button {
    width: 50%;
    font-size: 22px;
}
@media screen and (max-width: 600px) {
    .login-form-avatar {
        width: 6em;
        height: 6em;
    }
    #login-form p {
        font-size: 0.9em;
    }
}


    /*________USER PROFILE________*/
.profile-container { 
    max-width: 1250px;
    margin: 2em auto 5.2em;
    padding: 0em 0em 2em !important;
    width: 90%;
    background-color: #F9F9F9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}
.coverimg-wrap {
    width: 100%;
    display: inline-block;
    position: relative;
}
.profile-coverimg {
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 330px;
    width: 100%;
    position: relative;
    box-shadow: none !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.coverimg-wrap:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .4);
}
.coverimg-buton {
    border: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 150px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}
.coverimg-buton a {
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}
.coverimg-wrap:hover .coverimg-buton {
  opacity: 1;
}
.modal-form-coverimg {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modalform-content {
    /*color: #ffffff;*/
    background-color: #C1C3C5;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
}
.modalform-closeBtn {
    color: #545454;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modalform-closeBtn:hover,
.modalform-closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.left {
    align-items: center;
}
.user-profileimg {
    object-fit: cover;
    width:230px;
    height:230px;
    display: inline-block;
    z-index: 1;
    position: relative;
    margin-top: -120px;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
}
.user-name {
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 19pt;
    color: #313131;
}
.stats {
    margin-top: 15px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
    font-family: 'Montserrat', sans-serif;
}
.stat-joindate{
    color: #6D6D6D;
    font-size: 12pt;
}
.nav-tabs {
    margin: 40px 30px 0 10px;
    cursor: pointer;
    font-size: 13pt;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #6D6D6D;
}
.nav-tabs.profile-nav-tabs>.nav-item>a {
    color: #6D6D6D;
}
.nav-tabs.profile-nav-tabs>.nav-item>a:hover {
    color: #383838;
    border-bottom: 2px solid #999;
}
.tab-content {
    margin: 0.4em 1.2em 0.4em;
}
.user-camps-list {
     width: 48%;
     background-color: #F8F8F8;
}
#editProfileBtn {
    border: none;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#editProfileBtn a {
    color: white;
}
@media (max-width:800px) {
    .profile-coverimg {
        height: 150px;
    } 
    .user-profileimg {
    width: 150px;
    height: 150px;
    }
}


    /*________EDIT USERS PROFILE________*/
#userImage-upload {
    margin-top: 4px;
}


    /*________CONTACT US________*/
#contact-btn {
    width: 50%;
    display: block;
}


    /*____________FORUM INDEX PAGE____________*/
.parallax {
    background-image: url('../../images/backgrounds/forumIndex.jpg');
    min-height: 260px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-forum {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 33pt;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    border: 5px solid #fff;
    padding: .5em 3em;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.forumIndex-nav {
    background: #222;
    width: 100%
}
.forumIndex-nav a {
    color: #ffffff;
    padding:10px 15px;
    font-size:1em;
    display:inline-block
}
.forumIndex-nav a:hover {
    background: #333;
    color: #A7ADB1;
    text-decoration: none;
}
.fa-arrow-alt-circle-left{
    font-size: 1.1em;
}
.thead-forum {
    font-size: 12pt;
    letter-spacing: 0.07em;
    background-color: #343A40;
    color: white;
}
.forum-tbody {
    background-color: #AEBBC0;
}
.forum-tbody a {
    color: #343A40;
    font-weight: 500;
}
.forum-table-author{
    font-size: 11pt;
}
.forum-date {
    font-size: 10pt;
    color: #575C61;
}
.forum-no-topics-txt {
    font-size: 11pt;
    color: #343A40;
}
.forum-recentposts-table .thead {
    background-color: #6C757D;
    color: #ffffff;
}
.forum-recentposts-table tbody {
    background-color: #D6DCDC;
    color: #343A40;
}
.latest_p_topic { 
    font-weight: 700;
    font-size: 13pt;
}
.latest_p_topic>a { 
    color: #343A40;
}
.latest_p_author {
    font-size: 11pt;
}
.latest_p_author>a {
    color: #6C757D;
}
.latest_p_text { 
    font-size: 11pt;
    margin-top: 5px;
}
    
    
        /*________FORUM SHOW DISCUSSION TOPIC__________*/
.forum-topic-nav {
    background-color: #53A2A9;
    color: #ffffff;
    height: 50px;
    font-size: 11pt;
    font-weight: 600;
}
.forum-topic-nav a {
    color: #ffffff;
}
.forum-topic-name {
    font: bold 330%/100% "Lucida Grande";
    font-size: 50pt;
    position: relative;
    color: #464646;
}
.forum-topic-name span {
    background: url(gradient.png) repeat-x;
    position: absolute;
    display: block;
    width: 100%;
    height: 31px;
}
.user-discussion-badge {
    border-right: 10px solid #53A2A9;
    color: #ffffff;
    background-color: #1D242C; 
    min-height: 150px !important;
}
.user-discussion-avatarimg {
    display: block;
    width: 4.8em;
    height: 4.8em;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;    
    -mox-box-shadow: 0 0 2px white;
    -webkit-box-shadow: 0 0 2px white;
    box-shadow: 0 0 2px white;
}
.user-discussion-avatarimg img {
    object-fit: cover;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
}
.forum-userbadge-author>a {
    color: #DEDEDD;
    font-weight: 700;
}
.forum-userbadge-admin{
    color: #B0B0B2;
    font-size: 10.7pt;
}
.forum-userbadge-numposts{
    color: #DEDEDD;
    font-weight: 400;
}
.forum-userbadge-joindate {
    color: #DEDEDD;
    font-size: 10pt;
}
.post-container {
    word-wrap: break-word;   
    background-color: #1D242C;
    color: #F1F2F2;
}
.forumpost-top-bar{
    min-height: 40px;
    background-color: #53A2A9;
    width: 100%;
}
.initial-topic-header{
    color: #F6F6F6;
    font-size: 19pt;
}
.forumPost-date {
    color: #F6F6F6;
    font-weight: 400;
    font-size: 11pt;
}
.topic-initial-post>div>div>a {
    background-color: #53A2A9;
}
div.flex-column>div>a.editpost-btn {
    background-color: #53A2A9;
    color: #ffffff;
}
div.flex-column>div>a.editpost-btn:hover {
    background-color: #3C8C95;
}
.forum-newpost-text {
    min-height: 100px !important;
}
.edit-post-form {
    border-left: 7px solid #53A2A9;
}
.edit-post-form>.card-body{
    background-color: #1D242C;
}
.edit-post-form>.card-body input {
    background-color: #373D44;
    color: #F6F6F6;
}
.edit-post-form>.card-body textarea {
    background-color: #373D44;
    color: #F6F6F6;
}
.edit-post-form>.card-body button {
    background-color: #53A2A9;
    border: none;
    color: #F6F6F6;
}
.edit-post-form>.card-body button:hover {
    background-color: #3C8C95;
} 
div.newpost-input-form.d-flex.flex-row.bg-light.border.col-12 {
    padding-left: 0px;
    padding-right: 0px;
}
.newpost-input-form {
    background-color: #1D242C;
    color: #ffffff;
}
.newpost-input-form>form>div>textarea {
    background-color: #373D44;
    color: #ffffff;
}
.newpost-input-form>form>div>textarea:focus {
    background-color: #373D44;
    color: #ffffff;
}
@media screen and (max-width: 600px) {
    div.container{
        padding-left: 24px;
    }
    .user-discussion-avatarimg {
        width: 2.7em;
        height: 2.7em;
    }
    .forum-topic-nav {
        padding-left: 10px;
    }
    .forum-topic-name {
        font-size: 40pt;
        position: relative;
        color: #464646;
    }
    .forum-userbadge-author>a {
        writing-mode: tb-rl;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform:rotate(180deg);
        transform: rotate(180deg);
        font-weight: 500;
        font-size: 12pt;
        margin-top: 5px;
    }
    .forum-userbadge-admin{
        font-size: 8.7pt;
    }
    .forum-userbadge-numposts{
        font-weight: 400;
        font-size: 8.7pt;
    }
    .forum-userbadge-joindate {
        font-size: 8.7pt;
    }
    .user-discussion-badge {
        word-wrap: break-word;
    }
    .initial-topic-header{
        font-size: 18pt;
    }
}