html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #EBEBEB;
}


    /*_________DYNAMIC BACKGROUND CLASSES AND GLASS_________*/
.login-bkg {
    background-image: url(../../images/backgrounds/login2.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
.register-bkg {
    background-image: url(../../images/backgrounds/register.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
.contact-bkg {
    background-image: url(../../images/backgrounds/contact.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
.newCampground-bkg {
    background-image: url(../../images/backgrounds/newCampground.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
.editCampground-bkg {
    background-image: url(../../images/backgrounds/editCampground.jpg);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center; 
}
.frosted-glass2 {
    background: inherit;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 4px;
    background-size: 100% 100%;
}
.frosted-glass2::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    box-shadow: inset 0 0 0 3000px rgba(50, 50, 50,0.3);
    /*box-shadow: inset 0 0 25px rgba(0, 0, 0, .1), 0 5px 10px -3px rgba(0, 0, 0, .13);*/
    filter: blur(10px);
    margin: -20px;
}


    /*________ANIMATION STYLES________*/
.hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.hvr-fade {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098D1;
  color: white;
}


    /*________HEADER STYLES________*/
.navbar .navbar-brand{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.navbar .navbar-brand:hover{
    color: #8B9D98;
}
.navbar-dark .navbar-nav .nav-link{
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}
/*User profile image and name*/
.inset {
    float: left;
    margin-top: -5px;
    margin-right: 7px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 0 2px rgba(255,255,255,0.6), 
        0 1px 1px rgba(0,0,0,0.1);
    background-color: transparent !important;
    z-index: 999;
}
.inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
}
.dropdown-menu {
    left: auto;
    background-color: #343A40;
}
/*.dropdown-menu>a:hover {*/
/*    background-color: #565656;*/
/*}*/
.dropdown-item {
    color: #ffffff;
}
/*__________ALERT MESSAGES STYLES________*/
.alert {
    margin-top: 20px;
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.3);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.3);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.3);
}
.alert-sm {
    padding: 10px;
    font-size: 80%;
}
.alert-lg {
    padding: 35px;
    font-size: large;
}
.alert-success {
    border-color: #80D651;
}
.alert-success>strong {
    color: #80D651;
}
.alert-info {
    border-color: #45ABCD;
}
.alert-info>strong {
    color: #45ABCD;
}
.alert-warning {
    border-color: #FEAF20;
}
.alert-warning>strong {
    color: #FEAF20;
}
.alert-danger {
    border-color: #d73814;
}
.alert-danger>strong {
    color: #d73814;
}


    /*__________FOOTER STYLES________*/
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
}
.container .text-muted {
  margin: 20px 0;
}
@media only screen and (max-device-width: 640px) {
    footer {
        font-size: 9pt;       
    }
}


    /*________CAMPGROUNDS INDEX.EJS STYLES________*/
.jumbotron.main {
    margin: 25px 0;
    background-image: url(../images/wallhaven.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #E4E4E4;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0), 
        3px 5px 3px rgba(0, 0, 0, 0.1),
        6px 8px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0), 
        3px 5px 3px rgba(0, 0, 0, 0.1),
        6px 8px 6px rgba(0, 0, 0, 0.3);
}
#campfire-icon {
    font-size: 1.6em;
}
.fa-free-code-camp{
    font-size: 1.3em;
}
#campground-search{
    width: 210px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11pt;
    text-decoration: inherit;
}
.btn-hover-shadow {
    border: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;    
}    
.btn-hover-shadow:hover, .btn-hover-shadow:focus, .btn-hover-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.img-resize {
    height: 175px !important;
}
.pagination {
    
}


    /*________CAMPGROUNDS SHOW.EJS STYLES________*/
.table-info{
    font-family: 'Josefin Sans', sans-serif;
}
#bookInfo{
    color: #4F4F54;   
    font-size: 12pt;
}
.table-body>tr>td{
    background-color: #B8BDC0;
}
.table-body>tr>td:hover{
    background-color: #C5C8CB;
}
.table-body>tr>td>a{
    color: #4F4F54;
    font-size: 15pt;
}
.table-head{
    font-size: 20pt;
    background-color: #697179;
    color: #ffffff;
}
.card img{
    border-radius: 3px;
    width: 100%;
}
.delete-form {
    display: inline;
}
.comment-new-form {
    border-left: 5px solid #00C851;
    margin-top: 15px;
}
.button-form-spacing {
    margin-top: 15px;
}
.no-comments-text {
    color: grey;
}
.comment-isCurrentUserIcon{
    color: orange;
}
.edit-comment-form {
    border-left: 5px solid #ffbb33; 
    margin-top: 15px;
}
.delete-comment-form {
    display: inline;
}
#comments-card{
    margin-left: 6px;
}
/*Google maps API*/
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 .5em 1em rgba(0,0,0,.3);
}
/*Weather widget API*/
.weather-lightcolor{
    color: #ffffff;
}
.weather-widget{
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 0px 2px 1px rgba(150, 150, 150, 0.85);
    border-radius: 4px;
    background-size: 100% 100%;
    box-shadow: 0 .5em 1em rgba(0,0,0,.3);    
}
.place-weather{
    font-size: 18pt;
    font-weight: 600;
}
.date-weather{
    font-size: 9pt;
    margin-top: 12px;
}
.degrees-weather{
    font-size: 33pt;
    margin-top: 0px;
    padding-top: 15px;
    padding-right: 20px;
}
.symbol-weather{
    font-size: 56pt;
    padding-left: 20px;
}
.descr-weather{
    font-size: 11pt;
}
.weather-details{
    font-size: 15pt;
}
.week-weather {
    color: #4D4D4D;
    font-size: 13pt;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
#weather-table{
    text-shadow: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 0px;
    background: rgba(237,237,237,1);
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(230,230,230,1) 40%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(40%, rgba(230,230,230,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(230,230,230,1) 40%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(230,230,230,1) 40%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(230,230,230,1) 40%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(230,230,230,1) 40%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}
.frosted-glass {
    background: inherit;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
}
.frosted-glass::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    box-shadow: inset 0 0 3000px rgba(255,255,255,.5);
    filter: blur(3px);
    margin: -20px;
}


    /*________FORMS STYLING________*/
.campground-new-edit-form {
    color: #ffffff; 
    font-family: 'Josefin Sans', sans-serif;
}
.campground-new-edit-form a {
    color: #01A0BA;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.campground-new-edit-form .col .form-group>a {
    color: #ffffff;
}
.campground-new-edit-form button {
    background-color: #01A0BA;
    border: none;
} 
.campground-new-edit-form button:hover {
    background-color: #01A0BA;
}
#contact-form {
    color: #ffffff; 
    font-family: 'Josefin Sans', sans-serif;
}
#contact-form a {
    color: #ffffff;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
#contact-form a:hover {
    color: #01A0BA;
    font-size: 1.05em;
    text-decoration: none;
}
#contact-form button {
    background-color: #01A0BA;
    border: none;
}
#register-form {
    color: #ffffff; 
    font-family: 'Josefin Sans', sans-serif;
}
#register-form a {
    color: #ffffff;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
#register-form a:hover{
    color: #01A0BA;
    font-size: 1.05em;
    text-decoration: none;
}
#register-form button {
    background-color: #01A0BA;
    border: none;
}
.login-form-avatar {
    display: block;
    width: 10.5em;
    height: 10.5em;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;    
}
.login-form-avatar img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
}
#login-form{
   color: #ffffff; 
   font-family: 'Josefin Sans', sans-serif;
}
#login-form input{
    font-family: Arial, FontAwesome;
}
#login-form a{
    color: #ffffff;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
#login-form a:hover{
    color: #01A0BA;
    font-size: 1.05em;
    text-decoration: none;
}
#login-form button {
    background-color: #01A0BA;
    border: none;
}
.form-header {
    font-family: 'Nunito';
    font-size: 34px;
    margin: 15px auto;
    text-align: center;
    width: 25%;
    border-bottom: 1px solid #e5e5e5;
}
.form .form-control {
    background: #f2f2f2;
}
.form .message {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}
.form label {
    font-family: 'Nunito';
}
.form button {
    width: 50%;
    font-size: 22px;
}
@media screen and (max-width: 600px) {
    .login-form-avatar {
        width: 6em;
        height: 6em;
    }
    #login-form p {
        font-size: 0.9em;
    }
}


    /*________USERS PROFILE________*/
.user-camps-list {
     width: 48%;
     background-color: #F8F8F8;
}
#editProfileBtn {
    border: none;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#editProfileBtn a {
    color: white;
}


    /*________EDIT USERS PROFILE________*/
#userImage-upload {
    margin-top: 4px;
}


    /*________CONTACT US________*/
#contact-btn {
    width: 50%;
    display: block;
}