<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="form new_edit_cmp_forms">
            <form action="/forgot" method="POST">
                <legend class="log-reg-intro">Forgot Password</legend>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" autofocus class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Reset Password">
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>